.about {
  padding: 4rem 3rem;
  background: var(--alt-bg);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  /* border-radius: 30px; */
  
}

.about-col {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  flex-direction: column;
  gap: 24px;
  max-width: 60%;
}

.about-col + .about-col {
  border-left: 1px solid var(--border);
  padding: 0rem 2rem;
  margin-left: 2rem;
}
